<div class="col-md-4">
</div>
<div class="col-md-4">
<div class="row">
  <h1>Vice Dashboard</h1>
</div>
<div id="vice_manager">
  <div class="row">
    <h2 id="vice_manager_title">Vice Manager</h2>
  </div>
  <div class="row">
    <a class='btn btn-success' href='/vices/new'>Add a vice</button></a>
  </div>

  <div class="row">
    <table class="table table-bordered table-hover">
      <tr>
        <th id="site_header">Site</th>
        <th id="category_header">Category</th>
        <th></th>
      </tr
      <% @vices.each do |vice| %>
        <tr>
          <td class="name"><%= vice.name %></td>
          <td class="category"><%= vice.category %></td>
          <td><%= button_to "x", vice_path(:id => vice.id), :method => :delete, class: "inline btn btn-danger" %></td>
        </tr>
      <% end %>
      <tr>
      </tr>
    </table>
  </div>
</div>
<div id="time_manager">
  <h2>Time Manager</h2>
  <div><span>Weekly Allotment:</span><span id="total"><%= @total %></span></div>
  <div><span>Remaining Allotment:</span><span id="remaining"><%= @remaining %></span></div>
</div>
</div>
