
<h1>New Vice</h1>
<%= form_for @vice, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
  <%= label_tag(:q, "Name:") %>
  <%= select("Name", "name", @options, {:include_blank => true}) %>
  <%= select("Category", "category", ["Glancer","Engrosser"], {:include_blank => true}) %>
  <%= f.submit "Save" %>
<% end %>
